# 02 - Tarea de Datos Municipales

¡Bienvenido a la tarea de datos municipales! Aquí vas a poner en práctica todo lo que has aprendido hasta ahora. Para comenzar la tarea recuerda importar el archivo `datos_municipales.db` que se publicó junto con este _noteebok_

In [2]:
%load_ext sql

# Nos conectamos a la base de datos datos_municipales.db
%sql sqlite:///datos_municipales.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Aquí vamos a trabajar con varias tablas:

- `regiones`: tabla con las regiones de Chile.
- `comunas`: tabla con las comunas de Chile, indicando a que región pertenecen.
- `poblacion_comunal`: tabla con la población para cada comuna de Chile.
- `areas_verdes_comunal`: tabla con los datos de las áreas verdes de las comunas de Chile. Estos datos son los metros cuadrados de plazas y parques en la comuna. Esta tabla contiene algunos campos nulos.
- `presupuesto_comunal`: tabla con el presupuesto de las comunas de Chile.
- `densidad_comunal`: tabla con las densidad de población (personas/$km^2$) de las comunas de Chile.


Estos datos son datos reales recolectados por el Gobierno de Chile. Todas las mediciones son tomadas al 2019 - 2021 (dependiendo del dato). Para partir te recomendamos que selecciones los primeros registros de cada tabla para que sepas como se ven.

In [54]:
%%sql 
SELECT * FROM comunas LIMIT 20

 * sqlite:///datos_municipales.db
Done.

[(1101, 'Iquique', 1),
 (1107, 'Alto Hospicio', 1),
 (1401, 'Pozo Almonte', 1),
 (1402, 'Camiña', 1),
 (1403, 'Colchane', 1),
 (1404, 'Huara', 1),
 (1405, 'Pica', 1),
 (2101, 'Antofagasta', 2),
 (2102, 'Mejillones', 2),
 (2103, 'Sierra Gorda', 2),
 (2104, 'Taltal', 2),
 (2201, 'Calama', 2),
 (2202, 'Ollagüe', 2),
 (2203, 'San Pedro de Atacama', 2),
 (2301, 'Tocopilla', 2),
 (2302, 'María Elena', 2),
 (3101, 'Copiapó', 3),
 (3102, 'Caldera', 3),
 (3103, 'Tierra Amarilla', 3),
 (3201, 'Chañaral', 3)]

Ahora partamos por algo sencillo. 

**Pregunta 01:** entrega cada nombre de comuna junto al nombre de la región correspondiente. Luego haz esto solamente para las comunas de la Región del Ñuble y la Región Metropolitana de Santiago.

In [6]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Ahora avancemos un poco más.

**Pregunta 02**: para cada comuna, entrega el nombre de la región junto con la población de la comuna.

In [7]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Sin embargo, es posible que haya comunas para los que no hay dato de población. Averigua para qué comunas no está el dato de la población.

In [12]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Si descubriste para qué comuna no hay dato de población, te darás cuenta que podemos ignorarla. Ahora nos interesa obtener la población por región.

**Pregunta 03**: entrega el id y nombre de cada región, junto a la población total en esa región.

In [15]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Ahora filtremos los valores de la consulta anterior.

**Pregunta 04**: entrega el id, nombre de región y población para todas las regiones con más de 1.500.000 habitantes.

In [28]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Ahora, al igual que para la tabla de población, puede pasar que hay comunas para las que no haya registro en las tablas:

- areas_verdes_comunal
- presupuesto_comunal
- densidad_comunal

Te invitamos a encontrar las columnas faltantes para cada tabla.

In [34]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Ahora queremos sacar un estimado de la superficie de cada comuna. Tenemos la densidad de población y su población, por lo que dividiendo la población en la densidad deberíamos obtener la superficie. Para partir, hagamos el join entre las comunas, la población y la densidad. ¡Pero ojo! Hay varias comunas que no tienen dato de densidad, pero aún así no las queremos perder.

**Pregunta 05**: para cada comuna entrega su población y su densidad poblacional.

In [38]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Ahora calculemos el estimado de la superficie.

**Pregunta 06**: para cada comuna, entrega su población, densidad poblacional y el estimado de la superficie.

In [39]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Como verás, hay hartos valores que se indeterminan. ¿Puedes deducir por qué es?

Finalmente, veamos los datos de metros de áreas verde, que incluyen la cantidad de metros de plaza y metros de parque por comuna. Primero, encuentra los valores nulos que hayan en la columna metros_plaza o metros_parque.

**Hint**: para saber los nulos/no nulos de una columna puedes usar el filtro `columna IS NULL` o `columna IS NOT NULL`.

In [45]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Ahora busquemos los nombres de aquellas comunas:

**Pregunta 07**: entrega el nombre de las comunas donde el valor de metros_plaza o metros_parque sea nulo.

In [52]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Para finalizar, juguemos un poco con los presupuestos comunales.

**Pregunta 08**: entrega el promedio de los presupuestos comunales por región. **Hint**: recuerda que tal como `SUM` hay una función `AVG`.

In [53]:
%%sql
-- Escribe tu consulta bajo esta línea

 * sqlite:///datos_municipales.db
0 rows affected.

[]

Ahora estás listo para responder algunas preguntas más interesantes. Te dejo aquí una idea de 3 consultas propuestas de mayor dificultad.

**Pregunta 08**: entrega el nombre de las comunas para todas las regiones con más de 1.500.000 habitantes.

**Pregunta 09**: entrega el nombre de todas las comunas que estén en el top 20 de comunas con más metros de plaza y en el top 20 de comunas con más presupuesto.

**Pregunta 10**: con el estimado de la superficie obtenido anteriormente, calcula un estimado del total de la superficie por región.